.list {
  margin-left: 25px;
}

.item {
  /* font-size: 0;
  animation: ani 2s forwards; */
}

.title {
  font-size: 36px;
  color: white;

  font-size: 0;
  animation: title 1s both;
}
.pretitle {
  margin-top: 15px;
  font-size: 16px;
  color: white;
  font-weight: 600;
  font-size: 18px;

  opacity: 0;
  animation: pretitle 1.8s forwards;
}

@keyframes title {
  0% {
    font-size: 0;
  }
  100% {
    font-size: 36px;
  }
}

@keyframes pretitle {
  0% {
    opacity: 0;
  }
  100% {

    opacity: 1;
  }
}
