.container {
  display: flex;
  flex-direction: column;
}
.containerImage {
  display: flex;
  flex-direction: row;
}
.btnBack {
  width: 120px;
  height: 44px;
  text-align: center;
  background: linear-gradient(to right, #000000 10%, red 100%, #19a7b1 80%);
  background-size: 200% 100%;
  background-position: 100% 0;
  transition: background-position 0.5s;
  border: 0;
  color: white;
  font-size: 16px;
  cursor: pointer;
}

.btnBack:hover {
  background-position: 0 0;
}

.title {
  font-size: 36px;
  color: white;
  margin-left: 25px;
}


.image {
  width: 450px;
  height: 675px;
}
.item {
  margin-left: 25px;
}
.pretitle {
  margin-left: 25px;
  margin-top: 15px;
  font-size: 16px;
  color: white;
  font-weight: 600;
  font-size: 18px;
}
.btn {
  margin-top: 20px;
  margin-left: 25px;
  width: 320px;
  height: 44px;
  text-align: center;
  background: linear-gradient(to right, #000000 10%, red 100%, #19a7b1 80%);
  background-size: 200% 100%;
  background-position: 100% 0;
  transition: background-position 0.5s;
  border: 0;
  color: white;
  font-size: 18px;
  cursor: pointer;
}
.btn:hover {
  background-position: 0 0;
}

.btn:first-child {
  margin-right: 30px;
}

