

.formContainer{
    display: flex;
justify-content: center;
align-items: center;
margin-bottom: 30px;
}
.btn {
  margin-left: 15px;
    width: 120px;
    height: 44px;
    text-align: center;
    background: linear-gradient(to right, #000000 10%, red 100%, #19a7b1 80%);
    background-size: 200% 100%;
    background-position: 100% 0;
    transition: background-position 0.5s;
    border: 0;
    color: white;
    font-size: 16px;
    cursor: pointer;
  }

  .btn:hover {
    background-position: 0 0;
  }

  .search{
    color: white;
    background-color:transparent ;
    border-bottom: 2px solid rgb(236, 226, 226);
    border-left:none ;
border-right: none;
    border-top: none;
    font-size: 16px;
    font-weight: 400;
    padding: 0 30px;
    width: 600px;
    height: 44px;
    border-radius: 50px;
    outline: none;
  }

 
.search:focus{
  border-bottom: 2px solid red;

}

